<style>
  
  :root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }

  body {
    background: #e5e5e5 !important;
  }

  .card {
    background: white;
    color: black;
    margin-bottom: 2rem;
    height: 380px;
  }

  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
  }

  .btn:hover,
  .btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;

  }

  body {
    background-color: #f9f9fa
  }

  .flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }

  @media (max-width:991.98px) {
    .padding {
      padding: 1.5rem
    }
  }

  @media (max-width:767.98px) {
    .padding {
      padding: 1rem
    }
  }

  .padding {
    padding: 5rem
  }

  .container {
    margin-top: 100px
  }

  .pagination,
  .jsgrid .jsgrid-pager {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem
  }

  .page-link {
    color: black
  }

  .pagination.pagination-rounded-flat .page-item {
    margin: 0 .25rem
  }

  .pagination-rounded-flat {}

  .pagination-success .page-item.active .page-link,


  .pagination.pagination-rounded-flat .page-item .page-link,
  a {
    border: none;

      {
        {
        !-- border-radius: 50px;
        --
      }
    }
  },
.button-primary {
		    font-size: 16px !important;
			background-color: transparent;
			line-height: 32px;
			padding: 4px 24px;
			border-radius: 10px; 
			color: #e75e8d;
			font-weight: 400;
			transition: all 0.4s ease;
	} 

	.button-primary:hover {
		color: #fff;
		background-color: #e75e8d;
	}
</style>

<div class="container-fluid mt-4">
  <div class="row" style="padding-top: 50px;margin: 0 auto;">


    {{#each data_caro}}
    <div class="col-lg-3 col-sm-12 col-md-6" style="">
      <div class="card" style="height: 28rem">
        <a href="/course/{{this._id}}">
          <div style="height: 10rem">

            <img src={{this.image}} class="card-img-top" style="height: 10rem" alt="...">
          </div>
        </a>
        <div class="card-body" style="text-align: center;">
          <div style="height: 13rem">

            <h5 class="card-title" 
              style="text-overflow: ellipsis;overflow: hidden; width: 220px; height: 1.2em; white-space: nowrap; color: #e75e8d; font-weight: bold; width: 100%;">
              {{this.name}}</h5>
            <span style="font-size: 14px; font-weight: 400; opacity: 0.8;" class = "text-muted">{{this.category}}</span>
            <br>
            <li style="list-style: none;color: gray">{{this.shortDesc}}</li>
            <br>
            <li class="list-inline-item" style="font-size: 15px; color: #747D89;">{{this.numberStudentRate}}<i
                class="fa fa-star" style="color: #FFC000;"></i></li>
            <br>
            <li style="list-style: none;color:rgb(204, 140, 175); font-size: 14px">{{this.nameLecturer}}</li>
            {{#if (compareZero this.discount)}}
            <p class="item-price"><strike style="color: #9EA4AD; font-weight: none;">{{format_number
                this.price}}</strike>
              <b style="color: #e75e8d;">{{format_number (cal_discount this.price this.discount)}}</b>
            </p>


            {{else}}
            <br>
              <b class="item-price" style="font-size: 1.1rem; color: #e75e8d;">{{format_number this.price}}</b>
            {{/if}}
          </div>
          <div class="d-flex justify-content-around" style="height: 2rem">

            {{#if ../auth}}
            <form action="/user/buyProduct/{{this._id}}" method="post">
              <a href="javascript:;" onclick="parentNode.submit();" class="button-primary "
                 style="height: 40px; border:0;">Buy</a>
            </form>
            <form action="/user/favoriteList/{{this._id}}" method="post">
              <a href="javascript:;" onclick="parentNode.submit();" class="button-primary "
                 style="height: 40px; border:0;">Like</a>
            </form>
            {{else}}
            <a href="/user/login" class="button-primary "  style="height: 40px; border:0;">Buy</a>
            <a href="user/login" class="button-primary "  style="height: 40px; border:0;">Like</a>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="d-flex justify-content-center" style="float:right;width:100%;">
      <div class="col-md-4 col-sm-6 stretch-card ">
        <div class="" style="background-color: #F5F6FD; border-color: #F5F6FD;">
          <div class="card-body justify-content-center text-center" style="height: 0; text-align: center">
            <nav aria-label="Page navigation example" class="d-flex justify-content-center w-100">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="/?pageNumber={{math_add pageNumber -1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

                {{#if (math_compare 1 pageNumber) }}
                <li class="page-item"><a class="page-link" href="/?pageNumber={{math_add pageNumber -1}}">{{math_add
                    pageNumber -1}}</a></li>
                <li class="page-item active"><a class="page-link" href="/?pageNumber={{pageNumber}}">{{pageNumber}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="/?pageNumber={{math_add pageNumber 1}}">{{math_add
                    pageNumber 1}}</a></li>
                <li class="page-item"><a class="page-link" href="/?pageNumber={{math_add pageNumber 2}}">{{math_add
                    pageNumber 2}}</a></li>
                {{else}}
                <li class="page-item active"><a class="page-link" href="/?pageNumber=1">1</a></li>
                <li class="page-item "><a class="page-link" href="/?pageNumber=2">2</a></li>
                <li class="page-item"><a class="page-link" href="/?pageNumber=3">3</a></li>
                <li class="page-item"><a class="page-link" href="/?pageNumber=4">4</a></li>
                {{/if}}


                <a class="page-link" href="/?pageNumber={{math_add pageNumber 1}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
  integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>


