<h1>Search PAGE</h1>

<ul>
    {{#each searchData}}
    <li>Name: {{this.name}}</li>
    <li>Category: {{this.category}}</li>
    <li>Number student rate: {{this.numberStudentRate}}</li>
    <li>Price:{{ this.price}}</li>
    <li>Created at:{{ this.createdAt}}</li>
    {{/each}}
</ul>

  