<div class="row">

  <div class="col">
    <div class="row">

      {{#each data}}

      <div class="col-12 col-md-4 col-lg-3 col-sm-12 mt-5">
        <a href="/course/{{this._id}}">
          <div class="card">
            <img class="card-img-top" src={{this.image}} alt="Card image cap"    style="height: 30vh; object-fit: cover;" />
            <div class="card-body" style="height: 45vh;">
              <h4 class="card-title" style="height: 15vh;font-weight: 700;font-size: 20px;"><a href="product.html"
                  title="View Product" style="font-weight: bold;">{{this.name}}</a></h4>

              <p class="card-text text-muted" style="font-size: 17px;">Lecturer: {{this.nameLecturer}}</p>
              <p class="card-text text-muted" style="font-size: 17px;">Category: {{this.category}}</p>
              <div class="d-flex justify-content-center"
                    style="background-color: #eceb98; width: 100px; color: #3e3e0d;font-weight: 700,height: 3vh;font-size:15px;border-radius:5px;">
                    {{#if condition}}
                    Complete
                    {{else}}
                    Incomplete
                    {{/if}}
                  </div>
              <div class="d-flex">
                <div class="d-flex justify-content-around"
                  style="justify-content: space-between !important; width: 100%;">
                  
                  <div class="d-flex">
                    <p class="font-weight-bold" style="color: #B4690E; margin-right: 5px; padding-top: 2px;">
                      {{this.rating}}</p>

                    <div class="ratings">

                      <i class="fa fa-star rating-color"></i>

                    </div>
                    <h5 class="review-count text-muted" style="padding-top: 5px;">({{format_typeNumber
                      this.numberStudentRate}})</h5>
                  </div>

                  <div class="d-flex">
                    <p style="font-weight: bold; ">{{format_number (cal_discount this.price this.discount)}}
                      <del class="text-muted" style="color: white; font-size: 14px;">{{format_number this.price}}</del>
                    </p>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col">
                  <p class="btn btn-danger btn-block" style="font-weight: bold; background-color: #e75e8d">Like
                  </p>

                </div>
                <div class="col">
                  <a href="#" class="btn btn-success btn-block" id="Btbuy" style="font-weight: bold;">Buy</a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
      {{#if (compareZero length)}}
      <div class="col-12">
        <nav aria-label="...">
          <ul class="pagination" style="float: right;">

            {{#if (comparePage currentPage 1)}}

            <li class="page-item">
              <a class="page-link" href="/user/myCourse?page={{previousPage}}" tabindex="-1"><i
                  class="fa fa-angle-left"></i></a>
            </li>
            {{/if}}

            {{#if hasPreviousPage}}
            <li class="page-item" style="margin-left: 10px; font-weight: bold; border-radius: 2px;"><a class="page-link"
                href="/user/myCourse?page={{previousPage}}">{{previousPage}}</a></li>

            {{/if}}

            <li class="page-item active" style="margin-left: 10px; font-weight: bold;">
              <a class="page-link" href="/user/myCourse?page={{this.currentPage}}">{{this.currentPage}}<span
                  class="sr-only">(current)</span></a>
            </li>
            {{#if hasNextPage}}
            <li class="page-item" style="margin-left: 10px; font-weight: bold; border-radius: 2px;"><a class="page-link"
                href="/user/myCourse?page={{nextPage}}">{{nextPage}}</a></li>
            {{! <li class="page-item" style="margin-left: 10px; font-weight: bold; border-radius: 2px;">
              <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
            </li> }}
            {{/if}}
            {{#if (comparePage currentPage lastPage)}}
            <li class="page-item" style="margin-left: 10px; font-weight: bold; border-radius: 2px;">
              <a class="page-link" href="/user/myCourse?page={{nextPage}}"><i class="fa fa-angle-right"></i></a>
            </li>
            {{/if}}

          </ul>
        </nav>
      </div>
      {{/if}}

    </div>
  </div>

</div>

<style>
  .bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
  }

  .category_block li:hover {
    background-color: #007bff;
  }

  .category_block li:hover a {
    color: #ffffff;
  }

  .category_block li a {
    color:
      #343a40;
  }

  .add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
  }

  .add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration:
      line-through;
    font-size: 140%;
  }

  .product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color:
      #6c757d;
  }

  .product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
  }

  .product_rassurance .list-inline li:hover {
    color: #343a40;
  }

  .reviews_product .fa-star {
    color:
      gold;
  }

  .pagination {
    margin-top: 20px;
  }

  footer {
    background: #343a40;
    padding: 40px;
  }

  footer a {
    color: #f8f9fa !important
  }

  .ratings {
    margin-right: 10px;
  }

  .ratings i {
    color: #cecece;
  }

  .rating-color {
    color:
      #fbc634 !important;
  }

  .review-count {
    font-weight: bold;
    font-size: 20px !important;
  }
</style>