<div class="content-body">
  <!-- row -->
  <div class="container-fluid">

    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>All Courses</h4>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0);">Courses</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0);">All Courses</a></li>
        </ol>
      </div>
    </div>

    <div class="row">
      {{#each courses}}
        <div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="card">
            <img class="img-fluid" src="{{this.img}}" alt="">
            <div class="card-body">
              <h4>{{this.title}}</h4>
              <ul class="list-group mb-3 list-group-flush">
                <li class="list-group-item px-0 border-top-0 d-flex justify-content-between">
                  <span class="mb-0 text-muted">Rate: </span>
                  <div>
                    <i class="la la-heart-o mr-1"></i>
                    <strong>{{this.numberStudentRate}}</strong>
                  </div>
                </li>
                <li class="list-group-item px-0 d-flex justify-content-between">
                  <span class="mb-0">Category :</span>
                  <strong>{{this.category}}</strong>
                </li>
                <li class="list-group-item px-0 d-flex justify-content-between">
                  <span class="mb-0">Lecturer :</span>
                  <strong>{{this.lecturer}}</strong>
                </li>
                <li class="list-group-item px-0 d-flex justify-content-between">
                  <span>
                    <i class="fa fa-money text-primary mr-2"></i>
                    Price
                  </span>
                  <strong>{{this.price}}</strong>
                </li>
              </ul>
              <a href="/admin/course/about/{{this._id}}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</div>