<div class="content-body">
  <!-- row -->
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      <strong>Error: {{error}}</strong>
    </div>
  {{/if}}
  <div class="container-fluid">
    <div class="row page-titles mx-0 d-flex justify-content-between align-items-center">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>All Courses</h4>
        </div>
      </div>
      <div class="col-sm-6 p-md-0 d-flex justify-content-between">
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu">
            {{#each categories}}
              {{#each this.subCategories}}
                <a class="dropdown-item" href="/admin/course/all?sub={{this}}">{{this}} ({{../this.category}})</a>
              {{/each}}
            {{/each}}
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-expanded="false">
            MainCategory
          </button>
          <div class="dropdown-menu">
            {{#each categories}}
              <a class="dropdown-item" href="/admin/course/all?cate={{this.category}}">{{this.category}}</a>
            {{/each}}
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-expanded="false">
            Lecturer
          </button>
          <div class="dropdown-menu">
            {{#each lecturers}}
              <a class="dropdown-item" href="/admin/course/all?lect={{this._id}}">{{this.fullname}}</a>
            {{/each}}
          </div>
        </div>
        <a href="/admin/course/add" class="btn btn-outline-primary">
          <i class="fa fa-plus"></i>
          Add course
        </a>
      </div>
    </div>

    <div class="row" id="myCourse">
      {{#each courses}}
        <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="card">
            <div style="height: 200px;">
              <img class="img-fluid" src="/data/image/{{this.image}}" alt="" style="height: 200px; width: 100%;">
            </div>
            <div class="card-body">
              <h4 style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{this.name}}</h4>
              <ul class="list-group mb-3 list-group-flush">
                <li class="list-group-item px-0 border-top-0 d-flex justify-content-between">
                  <span class="mb-0 text-muted">Rate: </span>
                  <div>
                    <i class="la la-heart-o mr-1"></i>
                    <strong>{{this.numberStudentRate}}</strong>
                  </div>
                </li>
                <li class="list-group-item px-0 d-flex justify-content-between">
                  <span class="mb-0">Category :</span>
                  <strong>{{this.subCategory}}</strong>
                </li>
                <li class="list-group-item px-0 d-flex justify-content-between">
                  <span class="mb-0">Lecturer :</span>
                  <strong>{{this.nameLecturer}}</strong>
                </li>
                <li class="list-group-item px-0 d-flex justify-content-between">
                  <span>
                    <i class="fa fa-money text-primary mr-2"></i>
                    Price
                  </span>
                  <strong>{{this.price}}</strong>
                </li>
              </ul>
              <div class="d-flex justify-content-between">
                <a href="/admin/course/about/{{this._id}}" class="btn btn-primary">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  Detail
                </a>
                <a href="/admin/course/edit/{{this._id}}" class="btn btn-primary">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                  Edit
                </a>
                <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}"
                  data-target="#delete-course">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  Delete
                </a>
                {{#if this.isDisable}}
                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#unlock-course"
                    data-unlock="{{this._id}}">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  </a>
                {{else}}
                  <a href="" class="btn btn-primary" data-toggle="modal" data-target="#lock-course"
                    data-lock="{{this._id}}">
                    <i class="fa fa-unlock" aria-hidden="true"></i>
                  </a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{!-- Confirm delete course --}}

<div class="modal" tabindex="-1" id="delete-course">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want to delete ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to detele this course ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Form --}}
<form name="delete-course-form" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var courseId = 0;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeteleCourse = document.getElementById('btn-delete-course');

    $('#delete-course').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('id');

    });

    btnDeteleCourse.onclick = () => {
      deleteForm.action = '/admin/course/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    };
  });
</script>

{{!-- Confirm lock course --}}

<div class="modal" tabindex="-1" id="lock-course">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want to lock ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to lock this course ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-lock-course" type="button" class="btn btn-danger">Lock</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Lock Form --}}
<form name="lock-course-form" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var courseId = 0;
    var lockForm = document.forms['lock-course-form'];
    var btnLockCourse = document.getElementById('btn-lock-course');

    $('#lock-course').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('lock');

    });

    btnLockCourse.onclick = () => {
      lockForm.action = '/admin/course/lock/' + courseId + '?_method=PUT';
      lockForm.submit();
    };
  });
</script>

{{!-- Confirm unlock course --}}

<div class="modal" tabindex="-1" id="unlock-course">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want to unlock ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to unlock this course ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-unlock-course" type="button" class="btn btn-danger">Unlock</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Unlock Form --}}
<form name="unlock-course-form" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var courseId = 0;
    var unlockForm = document.forms['unlock-course-form'];
    var btnUnlockCourse = document.getElementById('btn-unlock-course');

    $('#unlock-course').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      courseId = button.data('unlock');

    });

    btnUnlockCourse.onclick = () => {
      unlockForm.action = '/admin/course/unlock/' + courseId + '?_method=PUT';
      unlockForm.submit();
    };
  });
</script>

<form></form>

<script>
  function nameFunction() {
    ValidityState

  }
</script>