

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title>Cyborg - Awesome HTML5 Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
  <link rel="stylesheet" href="/css/owl.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!--

TemplateMo 579 Cyborg Gaming

https://templatemo.com/tm-579-cyborg-gaming

-->
</head>

<body style="background-color: #E2EAEF;width: 100vw;">

  <div class="container-fluid" style="width:80%">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content" style="background-color: white;">

          <!-- ***** Banner Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile " style="background-color: #E2EAEF;">
                <div class="row">
                  <div class="col-lg-4">
                    <div  style="border-top-left-radius: 23px;border-top-right-radius:23px ;height: 25vh;background-color: white;">
                    <img src={{course.image}} alt=""
                      style="border-top-left-radius: 23px;border-top-right-radius:23px">
                    </div>
                    <div class="main-info header-text d-flex justify-content-center"
                      style="background-color: #e75e8d;border-bottom-left-radius:23px;border-bottom-right-radius: 23px;">
                      <p class="item-price" style="margin-top: 10px;"> <b
                          style="color: black;font-size: 32px;">{{format_number (cal_discount course.price course.discount)}}</b>
                        <strike style="color: black;font-size: 20px;">{{format_number course.price}}</strike>
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">

                      <h4 style="color: black;font-weight: 700;">{{course.name}}</h4>
                      <p>{{course.shortDesc}}</p>
                      {{#if isBuy}}
                         <div class="main-border-button">
                        <a href="" style="pointer-events: none;">You purchased this course</a>
                      </div>
                      {{else}}
                       <div class="main-border-button">
                        <a href="#" disabled>Buy Now</a>
                      </div>
                      {{/if}}
                     
                      
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Rating:
                        {{#ifEquals course.numberStudentRate 0}}
                        <span>None<i class="fa fa-star"></i></span>
                        {{else}}
                        <span>{{course.numberStudentRate}}<i class="fa fa-star"></i></span>
                        {{/ifEquals}}
                      </li>
                      <li>Participants: <span>{{partcipantd}}</span></li>
                      <li>Last updated: <span>{{format_date course.updatedAt}}</span></li>
                      <li>Clips: <span>29</span></li>
                    </ul>
                  </div>
                </div>

                <div class="gaming-library profile-library">
                  <div class="col-lg-12">
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item ">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            style="background-color: #272727;color:#E2EAEF">
                            Over View
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            this is over view
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                            style="background-color: #272727;color:#E2EAEF">
                            <strong>This is the second item's accordion body.</strong>
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                            the collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                            style="background-color: #272727;color:#E2EAEF">
                            Basic Code
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                            the collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                            style="background-color: #272727;color:#E2EAEF">
                            Advance Code
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until
                            the collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
                            style="background-color: #272727;color:#E2EAEF">
                            Master Code
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Banner End ***** -->

          <!-- ***** Gaming Library Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="clips">
                <div class="col-lg-12">
                  <div class="heading-section">
                    <h4><em style="color: black;text-decoration: none;">Top 5 </em>Purchased Courses</h4>
                  </div>
                </div>
                <div class="row">
                  {{#each top5courses}}
                  <div class="col-lg col-sm-6">
                    <div class="item">
                        <a href="/course/{{this._id}}">
                      <div class="">
                          <img src={{this.image}} alt="" style="border-radius: 23px;height:10vh">
                      </div>
                        </a>
                      <h4 style="color: #e75e8d;height:30px;font-weight:600">{{this.name}}</h4>
                      <div class="down-content">
                        <span>{{this.numberStudentRate}}<i class="fa fa-star"></i></span>
                        <h4 style="font-weight: 700;"> {{format_number price}}</h4>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                  
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Gaming Library End ***** -->
          <!--**** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="clips">
                <div class="col-lg-12">
                  <div class="heading-section">
                    <h4><em style="color: black;text-decoration: none;">Instructors</em></h4>
                  </div>
                </div>
                <div class="col-lg-12">
                  <span class="instructor-introduce">{{lec.fullname}}</span>
                  <div class="instructor-item">
                    <img src="/images/clip-02.jpg" alt="" class="instructor-img" />
                    <ul>
                      <li style="display: flex; align-item: center; gap: 8px; margin: 8px 0;">
                        <i class="fa-solid fa-star" style="font-size: 14px; margin: auto; text-align: center;"></i>
                        <p style="margin-bottom: 0; color: #000; font-size: 15px; font-weight: 500"> <span
                            style="color: #e75e8d; font-weight: bold">4.3</span> Instruction Rating</p>
                      </li>
                      <li style="display: flex; align-item: center; gap: 8px;margin: 8px 0;">
                        <i class="fa-solid fa-star" style="font-size: 14px; margin: auto; text-align: center;"></i>
                        <p style="margin-bottom: 0; color: #000; font-size: 15px; font-weight: 500"><span
                            style="color: #e75e8d; font-weight: bold">76,231</span> Review </p>
                      </li>
                      <li style="display: flex; align-item: center; gap: 8px; margin: 8px 0;">
                        <i class="fa-solid fa-star" style="font-size: 14px; margin: auto; text-align: center;"></i>
                        <p style="margin-bottom: 0; color: #000; font-size: 15px; font-weight: 500"><span
                            style="color: #e75e8d; font-weight: bold">950,123</span> Students</p>
                      </li>
                    </ul>
                  </div>
                  <div class="instructor-paraphraph show">
                    <p style="color: #000;">
                        {{{lec.about}}}
                    </p>
                  </div>
                  <span class="instructor-btn show-less-btn " onclick="showLessInstructorContent()">Show less <i
                      class="fa-solid fa-chevron-up"></i></span>
                  <span class="instructor-btn show-more-btn" onclick="showMoreInstructorContent()">Show more <i
                      class="fa-solid fa-chevron-down"></i></span>
                </div>
              </div>
            </div>
          </div>
          {{!-- End intro --}}
          <div>

            <div>
              <div class="row">
                {{#each smallComment}}
                {{#if this.name}}
                <div class="col-sm-5 col-md-6" style="margin-top: 10px;">
                  <div class="clips">
                    <div class="content" style="margin: 30px;">
                      <div class="d-flex">
                        <img src="/images/clip-02.jpg" alt="" class="comment-img" />
                        <div style="margin-left: 30px;">
                          <li>{{this.name}}</li>
                          <li>{{this.rating}}<i class="fa fa-star" style="color: #e75e8d;"></i> </li>
                        </div>
                      </div>
                      <div class="comment-student" style="margin: 10px;">
                        <li>{{this.content}}</li>
                      </div>
                    </div>
                  </div>
                </div>
                {{/if}}
                {{/each}}
              </div>
            </div>
            <div class="d-flex justify-content-end" style="margin-bottom: 30px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" >MORE
              COMMENT</button>
            </div>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="row">
                    <h3 style="color:#e75e8d;margin: 20px;">Comment Of Student</h3>
                    {{#each course.comment}}
                    {{#if this.name}}
                    <div class="col-sm-5 col-md-6">
                      <div class="clips">
                        <div class="content" style="margin: 30px;">
                          <div class="d-flex">
                            <img src="/images/clip-02.jpg" alt="" class="comment-img" />
                            <div style="margin-left: 30px;">
                              <li>{{this.name}}</li>
                              <li>{{this.rating}}<i class="fa fa-star" style="color: #e75e8d;"></i> </li>
                            </div>
                          </div>
                          <div class="comment-student" style="margin: 10px;">
                            <li>{{this.content}}</li>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{/if}}
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
            {{#if userdata}}
            {{!-- Start comment --}}
            <div class="d-flex justify-content-center">
              <div class="card w-100">
                <div class="row">
                  <div class="col-2">
                    <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2">
                  </div>
                  <div class="col-10">
                    <div class="comment-box ml-2">
                      <form id="regis" method="post" action="/course/comment?course_id={{course_id}}">
                        <div class="rating">
                          <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                          <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                          <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                          <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                          <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="comment-area">
                          <textarea class="form-control" type="text " placeholder="what is your view?" name="content"
                            rows="4"></textarea>
                          <div class="d-flex justify-content-center" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-outline-primary">Send</button>
                          </div>
                        </div>
                      </form>
                      <div class="comment-btns mt-2">
                        <div class="row">
                          <div class="col-6">
                            <div class="pull-left">
                            </div>
                          </div>
                          <div class="d-flex justify-content-center">
                            <div class="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{!-- END COmment --}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</div>



  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="/js/isotope.min.js"></script>
  <script src="/js/owl-carousel.js"></script>
  <script src="/js/tabs.js"></script>
  <script src="/js/popup.js"></script>
  <script src="/js/custom.js"></script>


  <script>

    //-------------------JUST FOR INSTRUCTOR :v------------------------------------
    const instructorParaphraph = document.querySelector('.instructor-paraphraph')
    const instructorShowMoreBtn = document.querySelector('.show-more-btn')
    const instructorShowLessBtn = document.querySelector('.show-less-btn')

    const showMoreInstructorContent = () => {
      instructorParaphraph.style.height = 'auto'
      instructorParaphraph.classList.remove('show')
      instructorShowLessBtn.style.display = 'inline-block'
      instructorShowMoreBtn.style.display = 'none'
    }
    const showLessInstructorContent = () => {
      instructorParaphraph.style.height = '150px'
      instructorParaphraph.classList.add('show')
      instructorShowLessBtn.style.display = 'none'
      instructorShowMoreBtn.style.display = 'inline-block'
    }

    //-------------------END FOR INSTRUCTOR :v------------------------------------

  </script>

</body>
<style>
  .accordion-button::after {
    height: 0;
  }

  footer p {
    padding: 0;
  }

  .instructor-item {
    display: flex;
    gap: 20px;
    margin: 20px 0;
  }

  .instructor-name {
    color: #ec6090;
    font-size: 24px;
  }

  .instructor-introduce {
    font-weight: bold;
  }

  .instructor-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

  .comment-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .instructor-btn {
    color: #e75e8d;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .instructor-paraphraph {
    overflow: hidden;
    height: 150px
  }

  .instructor-paraphraph.show {
    -webkit-mask-image: linear-gradient(#ffffff, #ffffff, rgba(255, 255, 255, 0));
  }

  .show-less-btn {
    display: none;
  }

  body {
    height: 100%
  }

  {{!-- body {
    display: grid;
    place-items: center;
    font-family: 'Manrope', sans-serif;
    background: red;

  } --}}

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
  }

  .comment-box {

    padding: 5px;
  }



  .comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f;
  }


  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important;
  }

  .send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
  }

  .send:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202;
  }


  .rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left;
  }

  .rating>input {
    display: none
  }

  .rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer;
  }

  .rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
  }

  .rating>label:hover:before,
  .rating>label:hover~label:before {
    opacity: 1 !important
  }

  .rating>input:checked~label:before {
    opacity: 1
  }

  .rating:hover>input:checked~label:before {
    opacity: 0.4
  }
</style>