<div class="content-body">
  <!-- row -->
  <div class="container-fluid">

    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>Edit Student</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-xxl-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Basic Info</h5>
          </div>
          <div class="card-body">
            <form id="formData" action="/admin/student/edit/{{student._id}}?_method=PUT" method="post"
              enctype="multipart/form-data">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Username</label>
                    <input id="username" type="text" class="form-control" name="username" value="{{student.username}}" required>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Fullname</label>
                    <input id="fullname" type="text" class="form-control" name="fullname" value="{{student.fullname}}" required>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" value="{{student.email}}" required>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="phone" value="{{student.phone}}">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Gender</label>
                    <select class="form-control" name="gender">
                      <option value="Male" {{#ifEquals student.gender 'Male' }} selected {{/ifEquals}}>Male</option>
                      <option value="Female" {{#ifEquals student.gender 'Female' }} selected {{/ifEquals}}>Female
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Date of Birth</label>
                    <input name="dateOfBirth" type="date" class="datepicker-default form-control" id="datepicker1"
                      value="{{student.dateOfBirth}}" required>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">Education</label>
                    <input type="text" class="form-control" name="education" value="{{student.education}}">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group fallback w-100">
                    <label class="form-label d-block">Lecturer Image</label>
                    <input type="file" class="dropify" data-default-file="" name="recfile" accept="image/*"
                      value="{{student.image}}">
                  </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label class="form-label">About me</label>
                    <textarea name="about" class="form-control" id="description" cols="" rows="10">{{{student.about}}}</textarea>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <button type="submit" class="btn btn-primary">Save change</button>
                  <button type="submit" class="btn btn-light">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.tiny.cloud/1/o3spvyeq6r5oshe6dzh63yc88hs5ct8m2gixynrik46shp7r/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" crossorigin="anonymous"></script>
<script>
  $('#formData').on('submit', (e) => {
    if ($('#username').val().length < 6 || $('#username').val().length > 50 || $('#fullname').val().length < 6 || $('#fullname').val().length > 50) {
      alert('Username/Fullname is out of the range');
      e.preventDefault();
    }
  })
</script>
<script>
  tinymce.init({
    selector: '#description',
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist| alignleft aligncenter alignright |forecolor backcolor| table link image media'
    ]
  });
</script>