<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="row page-titles mx-0 d-flex justify-content-between">
      <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
          <h4>All Categories</h4>
        </div>
      </div>
      <a href="/admin/category/add" class="btn btn-outline-primary">
        <i class="fa fa-plus"></i>
        Add category
      </a>
    </div>

    <div class="row">
      <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body d-flex justify-content-between">
            <div class="dropdown">
              <button class="btn btn-outline-primary " type="button" data-toggle="dropdown" aria-expanded="false">
                Web developer
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-item d-flex justify-content-between">
                  ReactJ
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
                <div class="dropdown-item d-flex justify-content-between">
                  VueJS
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
                <div class="dropdown-item d-flex justify-content-between">
                  Bootstrap 4
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
              </div>
            </div>
            <div class="">
              <a href="/admin/category/edit/{{this._id}}" class="btn btn-primary">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </a>
              <a href="/admin/category/edit/{{this._id}}" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body d-flex justify-content-between">
            <div class="dropdown">
              <button class="btn btn-outline-primary " type="button" data-toggle="dropdown" aria-expanded="false">
                Web developer
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-item d-flex justify-content-between">
                  ReactJ
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
                <div class="dropdown-item d-flex justify-content-between">
                  VueJS
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
                <div class="dropdown-item d-flex justify-content-between">
                  Bootstrap 4
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
              </div>
            </div>
            <div class="">
              <a href="/admin/category/edit/{{this._id}}" class="btn btn-primary">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </a>
              <a href="/admin/category/edit/{{this._id}}" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card">
          <div class="card-body d-flex justify-content-between">
            <div class="dropdown">
              <button class="btn btn-outline-primary " type="button" data-toggle="dropdown" aria-expanded="false">
                Web developer
              </button>
              <div class="dropdown-menu">
                <div class="dropdown-item d-flex justify-content-between">
                  ReactJ
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
                <div class="dropdown-item d-flex justify-content-between">
                  VueJS
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
                <div class="dropdown-item d-flex justify-content-between">
                  Bootstrap 4
                  <a href=""><i class="fa fa-remove"></i></a>
                </div>
              </div>
            </div>
            <div class="">
              <a href="/admin/category/edit/{{this._id}}" class="btn btn-primary">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </a>
              <a href="/admin/category/edit/{{this._id}}" class="btn btn-primary">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
              <a href="" class="btn btn-danger" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>